<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rr_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rr_logo"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivity"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".Login2Activity"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".PantryActivity"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".Recipe2Activity"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".RecipeDetailActivity"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>